@import "common-classes";

$power-bar-color: #008B8B;

.container {
  div#sidebar {
    #dip-powers {
      span.name {
        color: white;
        text-shadow: 1px 1px 2px black;
        img {
          width: 0.5em;
        }
      }
      div.units {
        font-size: 0.7em;
      }
      div.power-bar {
        width: 0%;
        height: 0.2em;
        background-color: $power-bar-color;
        position: absolute;
        bottom: 0.3em;
        right: 0;
      }
      table {
        width: 100%;
        td {
          padding: 0.2em;
          width: 50%;
        }
        td.SCCount {
          text-align: right;
          position: relative;
        }
      }
      background-color: white;
      color: black;
      margin-top: 1px;
    }

    span.plus {
      @extend .green-text;
    }
    span.minus {
      @extend .red-text;
    }
  }
}
