@import "common-classes";

.container {
  div#sidebar {
    #dip-press {
      background-color: white;
      color: black;
      margin-top: 1px;
      .message {
        font-size: 0.7em;
        font-family: sans-serif;
        margin-bottom: 1px;
        &>span {
          display: inline-block;
          color: white;
          text-shadow: 1px 1px 2px black;
          padding: 0 0.2em;
        }
      }
    }
  }
}
