/*
 * OBS! Order in this file matters!
 */

$sea-color: #C6EFED;
$empty-color: #FFFFF0;

$sea-hover: #D7FFFD;
$empty-hover: #FFFFC3;

$sea-highlight: #AAD0D0;
$empty-highlight: #D2D2C4;

$Austria-color: #C04D4D;
$England-color: #6E329A;
$France-color: #BCDEEA;
$Germany-color: #666666;
$Italy-color: #63A96D;
$Russia-color: #E9E9E9;
$Turkey-color: #F2EAA2;

$Austria-hover: #D28181;
$England-hover: #986EB7;
$France-hover: #CFE7EF;
$Germany-hover: #939393;
$Italy-hover: #91C298;
$Russia-hover: #F7F7F7;
$Turkey-hover: #F5EFBD;

$Austria-highlight: #8B3A3A;
$England-highlight: #562777;
$France-highlight: #9DBBC5;
$Germany-highlight: #494949;
$Italy-highlight: #4A8052;
$Turkey-highlight: #CBC587;
$Russia-highlight: #BEBEBE;

$order-color: #ecf0f1;
$order-hover: #FFFFFF;

#provinces {
  path {
    fill: $empty-color;
    fill-opacity: 1;
    stroke: none;

    &.coast {
      fill-opacity: 0;
      pointer-events: none;
      &.activated {
        pointer-events: auto;
      }
    }

    &.highlight {
      fill: $empty-highlight;
    }

    &.active {
      fill-opacity: 1;
      cursor: pointer;
      fill: $empty-hover;
    }

    &.sea {
      fill: $sea-color;
      &.highlight {
        fill: $sea-highlight;
      }
      &.active {
        fill: $sea-hover;
      }
    }

    &.Austria {
      fill: $Austria-color;
      &.highlight {
        fill: $Austria-highlight;
      }
      &.active {
        fill: $Austria-hover;
      }
    }

    &.England {
      fill: $England-color;
      &.highlight {
        fill: $England-highlight;
      }
      &.active {
        fill: $England-hover;
      }
    }

    &.France {
      fill: $France-color;
      &.highlight {
        fill: $France-highlight;
      }
      &.active {
        fill: $France-hover;
      }
    }

    &.Germany {
      fill: $Germany-color;
      &.highlight {
        fill: $Germany-highlight;
      }
      &.active {
        fill: $Germany-hover;
      }
    }

    &.Italy {
      fill: $Italy-color;
      &.highlight {
        fill: $Italy-highlight;
      }
      &.active {
        fill: $Italy-hover;
      }
    }

    &.Russia {
      fill: $Russia-color;
      &.highlight {
        fill: $Russia-highlight;
      }
      &.active {
        fill: $Russia-hover;
      }
    }

    &.Turkey {
      fill: $Turkey-color;
      &.highlight {
        fill: $Turkey-highlight;
      }
      &.active {
        fill: $Turkey-hover;
      }
    }
  }
}

.order {
  &.Austria {
    .badge {
      background-color: $Austria-color;
      color: black;
    }
  }
  &.England {
    .badge {
      background-color: $England-color;
      color: black;
    }
  }
  &.France {
    .badge {
      background-color: $France-color;
      color: black;
    }
  }
  &.Germany {
    .badge {
      background-color: $Germany-color;
      color: black;
    }
  }
  &.Italy {
    .badge {
      background-color: $Italy-color;
      color: black;
    }
  }
  &.Russia {
    .badge {
      background-color: $Russia-color;
      color: black;
    }
  }
  &.Turkey {
    .badge {
      background-color: $Turkey-color;
      color: black;
    }
  }
}

#supply-centers {
  path {
    fill: none;
    stroke: #9f9f9f;
    stroke-width: 2.22519755;
    stroke-opacity: 1;
  }
}

#province-centers {
  path {
    fill: none;
    stroke: none;
    display: inline;
  }
}

#sea {
  path {
    fill: $sea-color;
  }
}

#names, #supply-centers, #province-centers, #units {
  pointer-events: none;
}

#orders > #orderGroup > g,
#orders > #buildOptionGroup > g {
  cursor: pointer;
  display: none;
  &.show {
    display: block;
  }
  circle {
    fill: $order-color;
  }
  circle:hover {
    fill: $order-hover;
  }
  text {
    pointer-events: none;
  }
}

#dip-powers {
  tr.France {
    background-color: $France-color;
  }
  tr.Austria {
    background-color: $Austria-color;
  }
  tr.Germany {
    background-color: $Germany-color;
  }
  tr.Russia {
    background-color: $Russia-color;
  }
  tr.England {
    background-color: $England-color;
  }
  tr.Turkey {
    background-color: $Turkey-color;
  }
  tr.Italy {
    background-color: $Italy-color;
  }

}

#dip-player {
  &.France {
    background-color: $France-color;
  }
  &.Austria {
    background-color: $Austria-color;
  }
  &.Germany {
    background-color: $Germany-color;
  }
  &.Russia {
    background-color: $Russia-color;
  }
  &.England {
    background-color: $England-color;
  }
  &.Turkey {
    background-color: $Turkey-color;
  }
  &.Italy {
    background-color: $Italy-color;
  }
}

#dip-press {
  .message > span.France {
    background-color: $France-color;
  }
  .message > span.Austria {
    background-color: $Austria-color;
  }
  .message > span.Germany {
    background-color: $Germany-color;
  }
  .message > span.Russia {
    background-color: $Russia-color;
  }
  .message > span.England {
    background-color: $England-color;
  }
  .message > span.Turkey {
    background-color: $Turkey-color;
  }
  .message > span.Italy {
    background-color: $Italy-color;
  }
}

#stripe line {
  fill: white;
  stroke: white;
  stroke-linecap: square;
  stroke-linejoin: miter;
  stroke-width: 10px;
}

#orderMarkings {
  path.order-arrow {
    fill-opacity: 0.8;
    stroke-width: 2px;
    stroke-opacity: 0.8;
    &.Move {
      fill: #32CD32;
      stroke: #2E8B57;
    }
    &.Support {
      fill: #3280CD;
      stroke: #2E4F8B;
    }
    &.Convoy {
      fill: #CDCD32;
      stroke: #818B2E;
    }
  }
}
