// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/reset";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 24;
$column-width   : 3em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : false;
