// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/reset";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 18;
$column-width   : 5em;
$gutter-width   : 0.5em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : false;
