$sea-color: #C6EFED;
$empty-color: #FFFFF0;

$sea-hover: #D7FFFD;
$empty-hover: #FFFFC3;

$Austria-color: #C04D4D;
$England-color: #6E329A;
$France-color: #BCDEEA;
$Germany-color: #666666;
$Italy-color: #63A96D;
$Russia-color: #E9E9E9;
$Turkey-color: #F2EAA2;

$Austria-hover: #D28181;
$England-hover: #986EB7;
$France-hover: #CFE7EF;
$Germany-hover: #939393;
$Italy-hover: #91C298;
$Russia-hover: #F7F7F7;
$Turkey-hover: #F5EFBD;

$order-color: #ecf0f1;
$order-hover: #FFFFFF;

#provinces {
  path {
    fill: $empty-color;
    fill-opacity: 1;
    stroke: none;

    &.coast {
      fill-opacity: 0;
      pointer-events: none;
      &.activated {
        pointer-events: auto;
      }
    }

    &.active {
      fill-opacity: 1;
      cursor: pointer;
      fill: $empty-hover;
    }

    &.sea {
      fill: $sea-color;
      &.active {
        fill: $sea-hover;
      }
    }

    &.Austria {
      fill: $Austria-color;
      &.active {
        fill: $Austria-hover;
      }
    }

    &.England {
      fill: $England-color;
      &.active {
        fill: $England-hover;
      }
    }

    &.France {
      fill: $France-color;
      &.active {
        fill: $France-hover;
      }
    }

    &.Germany {
      fill: $Germany-color;
      &.active {
        fill: $Germany-hover;
      }
    }

    &.Italy {
      fill: $Italy-color;
      &.active {
        fill: $Italy-hover;
      }
    }

    &.Russia {
      fill: $Russia-color;
      &.active {
        fill: $Russia-hover;
      }
    }

    &.Turkey {
      fill: $Turkey-color;
      &.active {
        fill: $Turkey-hover;
      }
    }
  }
}

.order {
  &.Austria {
    .badge {
      background-color: $Austria-color;
      color: black;
    }
  }
  &.England {
    .badge {
      background-color: $England-color;
      color: black;
    }
  }
  &.France {
    .badge {
      background-color: $France-color;
      color: black;
    }
  }
  &.Germany {
    .badge {
      background-color: $Germany-color;
      color: black;
    }
  }
  &.Italy {
    .badge {
      background-color: $Italy-color;
      color: black;
    }
  }
  &.Russia {
    .badge {
      background-color: $Russia-color;
      color: black;
    }
  }
  &.Turkey {
    .badge {
      background-color: $Turkey-color;
      color: black;
    }
  }
}

#supply-centers {
  path {
    fill: none;
    stroke: #9f9f9f;
    stroke-width: 2.22519755;
    stroke-opacity: 1;
  }
}

#province-centers {
  path {
    fill: none;
    stroke: none;
    display: inline;
  }
}

#sea {
  path {
    fill: $sea-color;
  }
}

#names, #supply-centers, #province-centers, #units {
  pointer-events: none;
}

#orders > #orderGroup > g,
#orders > #buildOptionGroup > g {
  cursor: pointer;
  display: none;
  &.show {
    display: block;
  }
  circle {
    fill: $order-color;
  }
  circle:hover {
    fill: $order-hover;
  }
  text {
    pointer-events: none;
  }
}
