.container {
  div#sidebar {
    #powers-widget {
      div.name {
        color: white;
        text-shadow: 1px 1px 2px black;
      }
      div.units {
        font-size: 0.7em;
      }
      table {
        width: 100%;
        td {
          padding: 0.2em;
        }
        td.SCCount {
          text-align: right;
        }
      }
      background-color: white;
      color: black;
    }
  }
}
