// ---------------------------------------------------------------------------
// Imports

@import "base";

$sent-green: #009900;
$sent-green-hover: #006B00;
$uncommitted-yellow: #D6D633;
$uncommit-red: #A30000;

/* -------------------------------------------------------------------------*/
/* Layout */

body {
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}

.menu-wrapper {
  @include container;
  @include show-grid;

  $menu-height: 60px;
  height: $menu-height;

  background-color: darkred;

  text-shadow: 1px 1px 2px black;

  .menu {
    @include squish(2, 2);
    @include span($total-columns - 4);

    text-align: middle;

    color: #FFF;
    line-height: $menu-height;

    span {
      @include span(first 13 of $total-columns);
      padding-left: 0.5em;
      font-size: 2em;
    }

    .nav {
      @include span(last 6 of $total-columns);
      display: inline-block;

      li {
        a {
          font-size: 1.5em;
          color: #FFF;
          text-decoration: none;
          line-height: $menu-height;
        }
      }
    }
  }
}

.container {
  @include container;
  @include show-grid;

  position: relative;
  background-color: white;

  h2 {
    margin: 1em;
  }
  h3 {
    margin: 0.8em 1em;
  }

  .content {
    @include squish(2, 2);
    @include span($total-columns - 4);

    div.game-row {
      @include squish(1, 1);
      @include span($total-columns - 2);
      background-color: #FF7B00;
      padding-top: 1em;
      padding-bottom: 1em;
      color: white;
      font-size: 1.2em;

      &:hover {
        background-color: #DC6A00;
      }
    }

    $sidebar-columns: 6;
    div#map {
      @include span($total-columns - $sidebar-columns);
    }

    div#sidebar {
      @include span($sidebar-columns omega);

      h3 {
        padding: 0.5em;
        margin: 0;
        background-color: teal;
        color: #FFF;
      }

      .badge {
        padding: 0.3em;
        border-radius: 3px;
        display: inline-block;
      }

      #order-widget {
        background-color: beige;
        .order {
          padding: 0.25em 0.5em;
        }
        .sent {
          background-color: $sent-green;
        }
        #controls {
          padding: 0.2em 0.2em 0.2em 0;
          button {
            text-shadow: 1px 1px 2px black;
            font-size: 1.0em;
            padding: 0.5em 1em;
            color: white;
            border-style: none;
            &#send-button {
              background-color: $sent-green;
              &:hover {
                background-color: $sent-green-hover;
              }
            }
            &#commit-button {
              background-color: $uncommitted-yellow;
              &:hover {
                background-color: $sent-green;
              }
            }
            &#uncommit-button {
              background-color: $sent-green;
              &:hover {
                background-color: $uncommit-red;
              }
            }
          }
        }
      }
    }
  }
}
