// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

body {
  background-attachment: scroll;
  background-repeat: repeat;
  background-image: url("/app/img/old_map.png");
  background-position: 0% 0%;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
}

.dimmer {
  width: 100%;
  height: 1200px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h2 {
  font-size: 2em;
}

.menu-wrapper {
  @include container;
  @include susy-grid-background;

  background-color: darkred;

  .menu {
    @include span-columns($total-columns, $padding: 1em);

    color: #FFF;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

}

.container {
  @include container;
  @include susy-grid-background;

  position: relative;
  background-color: white;
  height: 1200px;

  h2 {
    margin: 1em;
  }

  .content {
    @include span-columns($total-columns);

    div.game-row {
      @include squish(1, 1);
      @include span-columns($total-columns - 2, $padding: 1em);
      background-color: #FF7B00;
      padding-top: 1em;
      padding-bottom: 1em;
      color: white;
      font-size: 1.2em;

      &:hover {
        background-color: #DC6A00;
      }
    }

    $sidebar-columns: 5;
    div#map {
      @include span-columns($total-columns - $sidebar-columns);
    }

    div#sidebar {
      @include span-columns($sidebar-columns omega)
    }
  }
}
