<div class="order {{ order.nation }}" ng-class="{ sent: order.sent }">
  <span ng-show="order.unit_type">{{ order.unit_type[0] }}</span>
  <span ng-show="order.unit_area" class="badge">{{ order.unit_area }}</span>
  <span ng-show="order.type" ng-bind-html='typeSymbols[order.type]'></span>
  <span ng-show="order.src" class="badge">{{ order.src }}</span>
  <span ng-show="order.src !== order.dst">
    <span ng-show="order.type"  ng-bind-html='secondaryTypeSymbols[order.type]'></span>
    <span ng-show="order.dst" class="badge">{{ order.dst }}</span>
  </span>
  <span ng-if="newOrder" ng-show="order.unit_area">
    <button ng-click="cancelOrder()">Cancel</button>
  </span>
  <span ng-if="(!newOrder) && editable" ng-click="deleteOrder(order)" class="delete-button"><i class="fa fa-trash-o" alt="Delete"></i></span>
  <span class="resolution" ng-switch="order.resolution">
    <i ng-switch-when="OK" class="fa fa-check-circle-o" title="Succeeded"></i>
    <i ng-switch-when="" class="fa"></i>
    <i ng-switch-default class="fa fa-ban" title="Failed"></i>
  </span>
  </span>
</div>
