<div id="dip-orders">
<div id="current-order">
	<h3>Current order</h3>
	<order order="lieutenant.orders.currentOrder" lieutenant="lieutenant" new-order="true"></order>
</div>
<div id="orders">
	<h3>Orders</h3>
	<order order="order" lieutenant="lieutenant" editable="game.isCurrentPhase()" ng-repeat="(unit_area, order) in lieutenant.orders.orders"></order>
</div>
<div id="controls">
	<button id="send-button" ng-click="sendOrders()">Send</button>
	<span ng-switch="lieutenant.player.Committed">
		<button id="commit-button" ng-switch-when="false" ng-click="commitOrders()">Commit</button>
		<button id="uncommit-button" ng-switch-when="true" ng-click="uncommitOrders()">Uncommit</button>
		<span ng-switch-default>{{ lieutenant.player.Committed }}</span>
	</span>
</div>
</div>
