<div id="orders">
  <div id="current-order">
    <h3>Current order</h3>
    <div class="order">
      <span ng-show="lieutenant.orders.currentOrder.unit_area" class="badge">{{ lieutenant.orders.currentOrder.unit_area }}</span>
      <span ng-show="lieutenant.orders.currentOrder.type" ng-bind-html='typeSymbols[lieutenant.orders.currentOrder.type]'></span>
      <span ng-show="lieutenant.orders.currentOrder.src" class="badge">{{ lieutenant.orders.currentOrder.src }}</span>
      <span ng-show="lieutenant.orders.currentOrder.type"  ng-bind-html='secondaryTypeSymbols[lieutenant.orders.currentOrder.type]'></span>
      <span ng-show="lieutenant.orders.currentOrder.dst" class="badge">{{ lieutenant.orders.currentOrder.dst }}</span>
  </div>
  </div>
  <div id="existing-orders">
    <h3>Orders</h3>
    <existing-order order="order" ng-repeat="(unit_area, order) in lieutenant.orders.orders"></existing-order>
  </div>
  <div>
    <button>Save</button>
  </div>
</div>
