<div id="orders">
  <div id="current-order">
    <h3>Current order</h3>
    <div class="order">
      <span ng-show="lieutenant.orders.currentOrder.unit_area" class="badge">{{ lieutenant.orders.currentOrder.unit_area }}</span>
      <span ng-show="lieutenant.orders.currentOrder.type" ng-bind-html='typeSymbols[lieutenant.orders.currentOrder.type]'></span>
      <span ng-show="lieutenant.orders.currentOrder.src" class="badge">{{ lieutenant.orders.currentOrder.src }}</span>
      <span ng-show="lieutenant.orders.currentOrder.type"  ng-bind-html='secondaryTypeSymbols[lieutenant.orders.currentOrder.type]'></span>
      <span ng-show="lieutenant.orders.currentOrder.dst" class="badge">{{ lieutenant.orders.currentOrder.dst }}</span>
  </div>
  </div>
  <div id="existing-orders">
    <h3>Orders</h3>
    <div ng-repeat="(unit_area, order) in lieutenant.orders.orders" class="order">
      <span ng-show="order.unit_area" class="badge">{{ order.unit_area }}</span>
      <span ng-show="order.type" ng-bind-html='typeSymbols[order.type]'></span>
      <span ng-show="order.src" class="badge">{{ order.src }}</span>
      <span ng-show="order.type"  ng-bind-html='secondaryTypeSymbols[order.type]'></span>
      <span ng-show="order.dst" class="badge">{{ order.dst }}</span>
    </div>
  </div>
</div>
